@charset "UTF-8";
.parrafo1, .parrafo2 {
  font-size: 25px;
  text-align: justify; }

.parrafo2 {
  font-size: 25px;
  text-align: justify; }

.parrafo1, .parrafo2 {
  margin: 50px;
  padding: 20px;
  background-color: #f6d45a;
  border: 1px solid brown; }

.parrafo2 {
  line-height: 2; }

h4 {
  font-size: 45px;
  color: rgba(255, 85, 0, 0.681);
  text-align: left;
  margin: 45px; }

/*******NAVEGADOR********/
.color {
  background-image: linear-gradient(to right, blue, #3ce83c); }

.tama単oLogo1 {
  height: 75px;
  width: 75px;
  margin-right: 0%; }

.tama単oLogo {
  height: 75px;
  width: 75px; }

.tituloIndex {
  margin: 0%;
  font-size: 20px; }

@media (min-width: 576px) {
  .tituloIndex {
    display: none; } }

/*****CARROUSEL***/
.carousel-inner {
  height: 200%;
  background-color: #8f8989; }

.carousel-inner img {
  max-width: 150%;
  max-height: 400px;
  margin: auto; }

/*******CUERPO DE LA PAGINA*******/
.padre {
  background-image: linear-gradient(to bottom, #dad8c4, #dde0e7);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }

.hijo {
  margin: 20px; }

.tama単oImagen {
  width: 90%;
  height: 90%;
  transition: height 0.1;
  width: 0.8;
  margin: 30px; }
  .tama単oImagen:hover {
    height: 91%;
    width: 91%; }

/**********FOOTER*********/
footer {
  background-color: black; }
  footer .ig {
    margin-left: 20%; }

@media (max-width: 576px) {
  .boletin {
    display: none; }
  .redes {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center; }
  .footerCell {
    width: 95%;
    height: 50%;
    padding: 0%; }
  h5 {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    color: #b5aa98; }
  .parrafo1, .parrafo2 {
    font-size: 16px;
    margin: 20px; }
  .parrafo2 {
    font-size: 16px;
    margin: 20px; } }

/******PAGINAS HTML********/
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

h1 {
  font-family: monospace;
  font-size: 20px;
  color: #3a3939;
  margin-left: 15px; }

.fondoMain {
  background-color: #f2f2f2; }

.padreFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.imgProd {
  width: 286px;
  height: 250px;
  transition: height 0.5, width 0.5; }
  .imgProd:hover {
    width: 290px;
    height: 260px; }

.card {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 30px; }

.mgOk {
  margin: 15px; }
