@charset "UTF-8";
.parrafo1, .parrafo2 {
  font-size: 25px;
  text-align: justify; }

.parrafo2 {
  font-size: 25px;
  text-align: justify; }

.parrafo1, .parrafo2 {
  margin: 50px;
  padding: 20px;
  background-color: #f6d45a;
  border: 1px solid brown; }

.parrafo2 {
  line-height: 2; }

h4 {
  font-size: 45px;
  color: rgba(255, 85, 0, 0.681);
  text-align: left;
  margin: 45px; }

/*******NAVEGADOR********/
.color {
  background-image: linear-gradient(to right, blue, #3ce83c); }

.tamañoLogo {
  height: 30%;
  width: 30%; }

/*****CARROUSEL***/
.carousel-inner {
  height: 350px;
  background-color: #8f8989; }

.carousel-inner img {
  max-width: 70%;
  max-height: 350px;
  margin: auto; }

/*******CUERPO DE LA PAGINA*******/
.padre {
  background-image: linear-gradient(to bottom, #48473c, #1e51d3);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }

.hijo {
  margin: 20px; }

.tamañoImagen {
  width: 450px;
  height: 380px;
  border: #4d0080 3px solid;
  border-radius: 50px;
  transition: height 0.1;
  width: 0.8; }
  .tamañoImagen:hover {
    height: 385px;
    width: 455px; }

/**********FOOTER*********/
footer {
  background-image: linear-gradient(to bottom, #aabd90, #b3e324);
  border-radius: 10px; }
  footer h3 {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  footer .padreFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  footer .hijoFooter {
    background-image: linear-gradient(to bottom, #aabd90, #b3e324);
    height: 150px;
    width: 300px;
    border: 5px solid #a89999;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    line-height: 28px;
    text-decoration: none;
    list-style-type: none; }

/******PAGINAS HTML********/
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

h1 {
  font-family: monospace;
  font-size: 40px;
  color: darkred; }

.fondoMain {
  background-color: #f7ec9d; }

.padreFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.boxed {
  width: 300px;
  height: 400px;
  border: 1px;
  border-color: #cf7c08;
  background-color: #fafaf3;
  margin: 30px 0 30px 0; }

.imgProd {
  width: 250px;
  height: 250px;
  transition: height 0.5s, width 0.5s; }
  .imgProd:hover {
    width: 280px;
    height: 280px; }
