@import "variables";
@import "maps";
@import "extend";
@import "mixin";

/*******NAVEGADOR********/
.color{
    background-image: linear-gradient(to right, blue, rgb(60, 232, 60));
}

.tamañoLogo1{
    height: 75px ;
    width: 75px;
    margin-right: 0%;
}

.tamañoLogo{
    height: 75px ;
    width: 75px;
}

.tituloIndex{
    margin:0%;
    font-size: 20px;

}

@media(min-width:576px){

.tituloIndex{
    display: none;
}

}

/*****CARROUSEL***/


.carousel-inner{
 height: 200%;
 background-color: rgb(143, 137, 137);
 

}

.carousel-inner img {
    max-width: 150%;
    max-height: 400px;
    margin: auto;
}






/*******CUERPO DE LA PAGINA*******/

.padre{
    background-image: linear-gradient(to bottom, $fondo-index);
    display: flex;
    flex-wrap:wrap ;
   align-items: center;
    justify-content: space-evenly;
    
   }

.hijo{
    margin: 20px;
   
    
}

.tamañoImagen{
    width: 90%;
    height: 90%;
    transition: height 0.1; width: 0.8;
    margin: 30px;

&:hover{
    height: 91%;
    width: 91%;
}
    
}


/**********FOOTER*********/

footer {
    background-color: black;        
       
    
.ig{ margin-left: 20%;

}

}

@media (max-width:576px){

    .boletin{
        display: none;
    }
    

    

    .redes{
      
        margin-left: 20%;
        margin-right: 20%;
        display: flex;        
        justify-content:center

    }

    .footerCell{
                
        width: 95%;
        height: 50%;
       padding: 0%;

    }

   
    h5{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;        
        justify-content:center;
        color: rgb(181, 170, 152);
        

    }

   }

       





 /******PAGINAS HTML********/

 main{

    display: flex;
   flex-wrap:wrap ;
   align-items: center;
   justify-content: space-around ;

 }

 h1{
    font-family: monospace;
    font-size: 20px;
    color: rgb(85, 85, 85);
    margin-left: 15px;
 }


 .fondoMain{
    background-color: rgb(242, 242, 242);
 }

.padreFlex{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;

}



 .imgProd{
    width: 286px;
    height: 250px ;
    transition: height 0.5, width 0.5;

  &:hover{
    width: 290px;
    height: 260px ;
    
 }
  
 }
 .card{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 30px;
 }

.mgOk{
    margin: 15px
} 







