@import "variables";
@import "maps";
@import "extend";
@import "mixin";

/*******NAVEGADOR********/
.color{
    background-image: linear-gradient(to right, blue, rgb(60, 232, 60));
}

.tamañoLogo{
    height: 30% ;
    width: 30% ;
}

/*****CARROUSEL***/



.carousel-inner{
 height: 350px;
 background-color:$fondo-carrousel;
 
}

.carousel-inner img {
    max-width: 70%;
    max-height: 350px;
    margin: auto;
}

/*******CUERPO DE LA PAGINA*******/

.padre{
    background-image: linear-gradient(to bottom, $fondo-index);
    display: flex;
    flex-wrap:wrap ;
   align-items: center;
    justify-content: space-evenly;
    
   }

.hijo{
    margin: 20px;
    
}

.tamañoImagen{
    width: 450px;
    height: 380px;
    border: rgb(77, 0, 128) 3px solid;
    border-radius: 50px ;
    transition: height 0.1; width: 0.8;

&:hover{
    height: 385px;
    width: 455px;
}
    
}


/**********FOOTER*********/

footer {
    background-image: linear-gradient(to bottom, $color-footer) ;        
    border-radius: 10px;

    h3{  
        font-size: 20px;
        display: flex;
       flex-wrap:wrap ;
       align-items: center;
       justify-content: space-around ;
    
    }
    

.padreFooter{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: space-around ;
           
    }

.hijoFooter{
    background-image: linear-gradient(to bottom, rgb(170, 189, 144), rgb(179, 227, 36)) ;
    height: 150px;
    width: 300px;
    border: 5px solid rgb(168, 153, 153);
    border-radius: 10px ;
    font-size: 20px;
    text-transform: uppercase ;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    line-height: 28px;   
    text-decoration: none;
    list-style-type: none;
    
}

       
}




 /******PAGINAS HTML********/

 main{

    display: flex;
   flex-wrap:wrap ;
   align-items: center;
   justify-content: space-around ;

 }

 h1{
    font-family: monospace;
    font-size: 30px;
    color: rgb(85, 85, 85);
    margin-left: 15px;
 }


 .fondoMain{
    background-color: rgb(242, 242, 242);
 }

.padreFlex{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;

}



 .imgProd{
    width: 286px;
    height: 250px ;
    transition: height 0.5, width 0.5;

  &:hover{
    width: 290px;
    height: 260px ;
    
 }
  
 }
 .card{
    margin-top: 5px;
    margin-bottom: 15px;
 }

.mgOk{
    margin: 15px
} 







